<h1> Show Address</h1>
    User_id : <%= @address.user_id %><br/><br/>
    Name : <%= @address.name %><br/><br/>
    Street :<%= @address.street %><br/><br/>
    City: <%= @address.city %><br/><br/>
    State: <%= @address.state %><br/><br/>
    Country: <%= @address.country %><br/><br/>
    State: <%= @address.state %><br/><br/>
    

